.grey {
  display: flex;
  background-color: grey;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.yellow {
  display: flex;
  background-color: yellow;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
